@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

a.icon>strong{
    margin-left:.25rem
}

/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
.navbar-burger,blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul{
    margin:0;
    padding:0
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:400
}
ul{
    list-style:none
}
button,input,select,textarea{
    margin:0
}
html{
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit
}
img,video{
    height:auto;
    max-width:100%
}
iframe{
    border:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
td:not([align]),th:not([align]){
    text-align:inherit
}
html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    text-size-adjust:100%;
    background-color:#fff;
    font-size:16px;
    min-width:300px;
    overflow-x:hidden;
    overflow-y:scroll
}
article,aside,figure,footer,header,hgroup,section{
    display:block
}
body,button,input,optgroup,select,textarea{
    font-family:Lato,sans-serif
}
code,pre{
    -moz-osx-font-smoothing:auto;
    -webkit-font-smoothing:auto;
    font-family:monospace
}
body{
    color:#4a4a4a;
    font-size:1em;
    font-weight:400;
    line-height:1.5
}
a{
    color:#2A2E34;
    cursor:pointer;
    text-decoration:none
}
a strong{
    color:currentColor
}
a:hover{
    color:#363636
}
code{
    color:#da1039;
    font-size:.875em;
    font-weight:400;
    padding:.25em .5em
}
code,hr{
    background-color:#f5f5f5
}
hr{
    border:none;
    display:block;
    height:2px;
    margin:1.5rem 0
}
img{
    height:auto;
    max-width:100%
}
input[type=checkbox],input[type=radio]{
    vertical-align:baseline
}
small{
    font-size:.875em
}
span{
    font-style:inherit;
    font-weight:inherit
}
strong{
    color:#363636;
    font-weight:700
}
fieldset{
    border:none
}
pre{
    -webkit-overflow-scrolling:touch;
    word-wrap:normal;
    background-color:#f5f5f5;
    color:#4a4a4a;
    font-size:.875em;
    overflow-x:auto;
    padding:1.25rem 1.5rem;
    white-space:pre
}
pre code{
    background-color:transparent;
    color:currentColor;
    font-size:1em;
    padding:0
}
table td,table th{
    vertical-align:top
}
table td:not([align]),table th:not([align]){
    text-align:inherit
}
table th{
    color:#363636
}
@keyframes spinAround{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(359deg)
    }
}

.button strong{
    color:inherit
}

.button .icon:first-child:not(:last-child){
    margin-left:calc(-.5em - 1px);
    margin-right:.25em
}
.button .icon:last-child:not(:first-child){
    margin-left:.25em;
    margin-right:calc(-.5em - 1px)
}
.button .icon:first-child:last-child{
    margin-left:calc(-.5em - 1px);
    margin-right:calc(-.5em - 1px)
}

.container{
    flex-grow:1;
    margin:0 auto;
    position:relative;
    width:auto
}

@media screen and (min-width:1024px){
    .container{
        max-width:960px
    }
}
.content li+li{
    margin-top:.25em
}
.content blockquote:not(:last-child),.content dl:not(:last-child),.content ol:not(:last-child),.content p:not(:last-child),.content pre:not(:last-child),.content table:not(:last-child),.content ul:not(:last-child){
    margin-bottom:1em
}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{
    color:#363636;
    font-weight:600;
    line-height:1.125
}
.content h1{
    font-size:2em;
    margin-bottom:.5em
}
.content h1:not(:first-child){
    margin-top:1em
}
.content h2{
    font-size:1.75em;
    margin-bottom:.5714em
}
.content h2:not(:first-child){
    margin-top:1.1428em
}
.content h3{
    font-size:1.5em;
    margin-bottom:.6666em
}
.content h3:not(:first-child){
    margin-top:1.3333em
}
.content h4{
    font-size:1.25em;
    margin-bottom:.8em
}
.content h5{
    font-size:1.125em;
    margin-bottom:.8888em
}
.content h6{
    font-size:1em;
    margin-bottom:1em
}
.content blockquote{
    background-color:#f5f5f5;
    border-left:5px solid #dbdbdb;
    padding:1.25em 1.5em
}
.content ol{
    list-style-position:outside;
    margin-left:2em;
    margin-top:1em
}
.content ol:not([type]){
    list-style-type:decimal
}

.content ul{
    list-style:disc outside;
    margin-left:2em;
    margin-top:1em
}
.content ul ul{
    list-style-type:circle;
    margin-top:.5em
}
.content ul ul ul{
    list-style-type:square
}
.content dd{
    margin-left:2em
}
.content figure{
    margin-left:2em;
    margin-right:2em;
    text-align:center
}
.content figure:not(:first-child){
    margin-top:2em
}
.content figure:not(:last-child){
    margin-bottom:2em
}
.content figure img{
    display:inline-block
}
.content figure figcaption{
    font-style:italic
}
.content pre{
    -webkit-overflow-scrolling:touch;
    word-wrap:normal;
    overflow-x:auto;
    padding:1.25em 1.5em;
    white-space:pre
}
.content sub,.content sup{
    font-size:75%
}
.content table{
    width:100%
}
.content table td,.content table th{
    border:solid #dbdbdb;
    border-width:0 0 1px;
    padding:.5em .75em;
    vertical-align:top
}
.content table th{
    color:#363636
}
.content table th:not([align]){
    text-align:inherit
}
.content table thead td,.content table thead th{
    border-width:0 0 2px;
    color:#363636
}
.content table tfoot td,.content table tfoot th{
    border-width:2px 0 0;
    color:#363636
}
.content table tbody tr:last-child td,.content table tbody tr:last-child th{
    border-bottom-width:0
}
.content .tabs li+li{
    margin-top:0
}

.icon{
    align-items:center;
    display:inline-flex;
    height:1.5rem;
    justify-content:center;
    width:1.5rem
}

.icon.is-large{
    height:3rem;
    width:3rem
}

.icon-text .icon{
    flex-grow:0;
    flex-shrink:0
}
.icon-text .icon:not(:last-child){
    margin-right:.25em
}
.icon-text .icon:not(:first-child){
    margin-left:.25em
}

.image{
    display:block;
    position:relative
}
.image img{
    display:block;
    height:auto;
    width:100%
}
.image img.is-rounded{
    border-radius:9999px
}

.image.is-128x128{
    height:128px;
    width:128px
}

.notification strong{
    color:currentColor
}
.notification code,.notification pre{
    background:#fff
}
.notification pre code{
    background:transparent
}

@keyframes moveIndeterminate{
    0%{
        background-position:200% 0
    }
    to{
        background-position:-200% 0
    }
}

.table td,.table th{
    border:solid #dbdbdb;
    border-width:0 0 1px;
    padding:.5em .75em;
    vertical-align:top
}

.table td.is-selected a,.table td.is-selected strong,.table th.is-selected a,.table th.is-selected strong{
    color:currentColor
}

.table th{
    color:#363636
}
.table th:not([align]){
    text-align:inherit
}

.table tr.is-selected a,.table tr.is-selected strong{
    color:currentColor
}
.table tr.is-selected td,.table tr.is-selected th{
    border-color:#fff;
    color:currentColor
}
.table thead{
    background-color:transparent
}
.table thead td,.table thead th{
    border-width:0 0 2px;
    color:#363636
}
.table tfoot{
    background-color:transparent
}
.table tfoot td,.table tfoot th{
    border-width:2px 0 0;
    color:#363636
}
.table tbody{
    background-color:transparent
}
.table tbody tr:last-child td,.table tbody tr:last-child th{
    border-bottom-width:0
}
.table.is-bordered td,.table.is-bordered th{
    border-width:1px
}
.table.is-bordered tr:last-child td,.table.is-bordered tr:last-child th{
    border-bottom-width:1px
}

.table.is-narrow td,.table.is-narrow th{
    padding:.25em .5em
}

.tag:not(body) .icon:first-child:not(:last-child){
    margin-left:-.375em;
    margin-right:.1875em
}
.tag:not(body) .icon:last-child:not(:first-child){
    margin-left:.1875em;
    margin-right:-.375em
}
.tag:not(body) .icon:first-child:last-child{
    margin-left:-.375em;
    margin-right:-.375em
}

.subtitle em,.subtitle span,.title em,.title span{
    font-weight:inherit
}
.subtitle sub,.subtitle sup,.title sub,.title sup{
    font-size:.75em
}

.title{
    color:#363636;
    font-size:2rem;
    font-weight:600;
    line-height:1.125
}
.title strong{
    color:inherit;
    font-weight:inherit
}

.subtitle strong{
    color:#363636;
    font-weight:600
}

.checkbox input,.radio input{
    cursor:pointer
}

.select.is-rounded select{
    border-radius:9999px;
    padding-left:1em
}
.select select{
    cursor:pointer;
    display:block;
    font-size:1em;
    max-width:100%;
    outline:none
}
.select select::-ms-expand{
    display:none
}
.select select[disabled]:hover,fieldset[disabled] .select select:hover{
    border-color:#f5f5f5
}
.select select:not([multiple]){
    padding-right:2.5em
}
.select select[multiple]{
    height:auto;
    padding:0
}
.select select[multiple] option{
    padding:.5em 1em
}

@media print,screen and (min-width:769px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){

}

@media print,screen and (min-width:769px){
}

.control.has-icons-left .input:focus~.icon,.control.has-icons-left .select:focus~.icon,.control.has-icons-right .input:focus~.icon,.control.has-icons-right .select:focus~.icon{
    color:#4a4a4a
}
.control.has-icons-left .input.is-small~.icon,.control.has-icons-left .select.is-small~.icon,.control.has-icons-right .input.is-small~.icon,.control.has-icons-right .select.is-small~.icon{
    font-size:.75rem
}
.control.has-icons-left .input.is-medium~.icon,.control.has-icons-left .select.is-medium~.icon,.control.has-icons-right .input.is-medium~.icon,.control.has-icons-right .select.is-medium~.icon{
    font-size:1.25rem
}
.control.has-icons-left .input.is-large~.icon,.control.has-icons-left .select.is-large~.icon,.control.has-icons-right .input.is-large~.icon,.control.has-icons-right .select.is-large~.icon{
    font-size:1.5rem
}
.control.has-icons-left .icon,.control.has-icons-right .icon{
    color:#dbdbdb;
    height:2.5em;
    pointer-events:none;
    position:absolute;
    top:0;
    width:2.5em;
    z-index:4
}

.breadcrumb a{
    align-items:center;
    color:#2A2E34;
    display:flex;
    justify-content:center;
    padding:0 .75em
}
.breadcrumb a:hover{
    color:#363636
}
.breadcrumb li{
    align-items:center;
    display:flex
}
.breadcrumb li:first-child a{
    padding-left:0
}
.breadcrumb li.is-active a{
    color:#363636;
    cursor:default;
    pointer-events:none
}
.breadcrumb li+li:before{
    color:#b5b5b5;
    content:"\0002f"
}
.breadcrumb ol,.breadcrumb ul{
    align-items:flex-start;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start
}
.breadcrumb .icon:first-child{
    margin-right:.5em
}
.breadcrumb .icon:last-child{
    margin-left:.5em
}
.breadcrumb.is-centered ol,.breadcrumb.is-centered ul{
    justify-content:center
}
.breadcrumb.is-right ol,.breadcrumb.is-right ul{
    justify-content:flex-end
}

.breadcrumb.has-arrow-separator li+li:before{
    content:"\02192"
}
.breadcrumb.has-bullet-separator li+li:before{
    content:"\02022"
}
.breadcrumb.has-dot-separator li+li:before{
    content:"\000b7"
}
.breadcrumb.has-succeeds-separator li+li:before{
    content:"\0227B"
}

.card-image:first-child img{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.card-image:last-child img{
    border-bottom-left-radius:.25rem;
    border-bottom-right-radius:.25rem
}

.level code{
    border-radius:4px
}
.level img{
    display:inline-block;
    vertical-align:top
}

@media print,screen and (min-width:769px){
}

@media screen and (max-width:768px){
}

@media print,screen and (min-width:769px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}

@media print,screen and (min-width:769px){
}

@media screen and (max-width:768px){
}

.menu-list a{
    border-radius:2px;
    color:#4a4a4a;
    display:block;
    padding:.5em .75em
}
.menu-list a:hover{
    background-color:#f5f5f5;
    color:#363636
}

.menu-list li ul{
    border-left:1px solid #dbdbdb;
    margin:.75em;
    padding-left:.75em
}

.message strong{
    color:currentColor
}

.message-body code,.message-body pre{
    background-color:#fff
}
.message-body pre code{
    background-color:transparent
}

@media screen and (min-width:769px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}

@media screen and (min-width:1024px){
}
.navbar>.container{
    align-items:stretch;
    display:flex;
    min-height:3.25rem;
    width:100%
}

.navbar-burger span{
    background-color:currentColor;
    display:block;
    height:1px;
    left:calc(50% - 8px);
    position:absolute;
    transform-origin:center;
    transition-duration:86ms;
    transition-property:background-color,opacity,transform;
    transition-timing-function:ease-out;
    width:16px
}
.navbar-burger span:first-child{
    top:calc(50% - 6px)
}
.navbar-burger span:nth-child(2){
    top:calc(50% - 1px)
}
.navbar-burger span:nth-child(3){
    top:calc(50% + 4px)
}

.navbar-burger.is-active span:first-child{
    transform:translateY(5px) rotate(45deg)
}
.navbar-burger.is-active span:nth-child(2){
    opacity:0
}
.navbar-burger.is-active span:nth-child(3){
    transform:translateY(-5px) rotate(-45deg)
}

.navbar-item .icon:only-child,.navbar-link .icon:only-child{
    margin-left:-.25rem;
    margin-right:-.25rem
}

.navbar-item img{
    max-height:1.75rem
}

@media screen and (max-width:1023px){
    .navbar>.container{
        display:block
    }

}
@media screen and (min-width:1024px){

}

.pagination-list li{
    list-style:none
}
@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){

}

.panel-tabs a{
    border-bottom:1px solid #dbdbdb;
    margin-bottom:-1px;
    padding:.5em
}

.panel-list a{
    color:#4a4a4a
}
.panel-list a:hover{
    color:#2A2E34
}

.panel-block input[type=checkbox]{
    margin-right:.75em
}

.tabs a{
    align-items:center;
    border-bottom:1px solid #dbdbdb;
    color:#4a4a4a;
    display:flex;
    justify-content:center;
    margin-bottom:-1px;
    padding:.5em 1em;
    vertical-align:top
}
.tabs a:hover{
    border-bottom-color:#363636;
    color:#363636
}
.tabs li{
    display:block
}
.tabs li.is-active a{
    border-bottom-color:#2A2E34;
    color:#2A2E34
}
.tabs ul{
    align-items:center;
    border-bottom:1px solid #dbdbdb;
    display:flex;
    flex-grow:1;
    flex-shrink:0;
    justify-content:flex-start
}

.tabs .icon:first-child{
    margin-right:.5em
}
.tabs .icon:last-child{
    margin-left:.5em
}
.tabs.is-centered ul{
    justify-content:center
}
.tabs.is-right ul{
    justify-content:flex-end
}
.tabs.is-boxed a{
    border:1px solid transparent;
    border-radius:4px 4px 0 0
}
.tabs.is-boxed a:hover{
    background-color:#f5f5f5;
    border-bottom-color:#dbdbdb
}
.tabs.is-boxed li.is-active a{
    background-color:#fff;
    border-color:#dbdbdb;
    border-bottom-color:transparent!important
}
.tabs.is-fullwidth li{
    flex-grow:1;
    flex-shrink:0
}
.tabs.is-toggle a{
    border:1px solid #dbdbdb;
    margin-bottom:0;
    position:relative
}
.tabs.is-toggle a:hover{
    background-color:#f5f5f5;
    border-color:#b5b5b5;
    z-index:2
}
.tabs.is-toggle li+li{
    margin-left:-1px
}
.tabs.is-toggle li:first-child a{
    border-bottom-left-radius:4px;
    border-top-left-radius:4px
}
.tabs.is-toggle li:last-child a{
    border-bottom-right-radius:4px;
    border-top-right-radius:4px
}
.tabs.is-toggle li.is-active a{
    background-color:#2A2E34;
    border-color:#2A2E34;
    color:#fff;
    z-index:1
}
.tabs.is-toggle ul{
    border-bottom:none
}
.tabs.is-toggle.is-toggle-rounded li:first-child a{
    border-bottom-left-radius:9999px;
    border-top-left-radius:9999px;
    padding-left:1.25em
}
.tabs.is-toggle.is-toggle-rounded li:last-child a{
    border-bottom-right-radius:9999px;
    border-top-right-radius:9999px;
    padding-right:1.25em
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media print,screen and (min-width:769px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media print,screen and (min-width:769px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}
@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}
@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}
@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}
@media screen and (min-width:769px) and (max-width:1023px){
}
@media screen and (max-width:1023px){
}
@media screen and (min-width:1024px){
}

.hero .tabs ul{
    border-bottom:none
}

.hero.is-white .title{
    color:#0a0a0a
}

@media screen and (max-width:1023px){
}

.hero.is-white .tabs a{
    color:#0a0a0a;
    opacity:.9
}
.hero.is-white .tabs a:hover{
    opacity:1
}
.hero.is-white .tabs li.is-active a{
    color:#fff!important;
    opacity:1
}
.hero.is-white .tabs.is-boxed a,.hero.is-white .tabs.is-toggle a{
    color:#0a0a0a
}
.hero.is-white .tabs.is-boxed a:hover,.hero.is-white .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-white .tabs.is-boxed li.is-active a,.hero.is-white .tabs.is-boxed li.is-active a:hover,.hero.is-white .tabs.is-toggle li.is-active a,.hero.is-white .tabs.is-toggle li.is-active a:hover{
    background-color:#0a0a0a;
    border-color:#0a0a0a;
    color:#fff
}

@media screen and (max-width:768px){
}

.hero.is-black .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-black .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-black .tabs a:hover{
    opacity:1
}
.hero.is-black .tabs li.is-active a{
    color:#0a0a0a!important;
    opacity:1
}
.hero.is-black .tabs.is-boxed a,.hero.is-black .tabs.is-toggle a{
    color:#fff
}
.hero.is-black .tabs.is-boxed a:hover,.hero.is-black .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-black .tabs.is-boxed li.is-active a,.hero.is-black .tabs.is-boxed li.is-active a:hover,.hero.is-black .tabs.is-toggle li.is-active a,.hero.is-black .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#0a0a0a
}

@media screen and (max-width:768px){
}

.hero.is-light .title{
    color:rgba(0,0,0,.7)
}

@media screen and (max-width:1023px){
}

.hero.is-light .tabs a{
    color:rgba(0,0,0,.7);
    opacity:.9
}
.hero.is-light .tabs a:hover{
    opacity:1
}
.hero.is-light .tabs li.is-active a{
    color:#f5f5f5!important;
    opacity:1
}
.hero.is-light .tabs.is-boxed a,.hero.is-light .tabs.is-toggle a{
    color:rgba(0,0,0,.7)
}
.hero.is-light .tabs.is-boxed a:hover,.hero.is-light .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-light .tabs.is-boxed li.is-active a,.hero.is-light .tabs.is-boxed li.is-active a:hover,.hero.is-light .tabs.is-toggle li.is-active a,.hero.is-light .tabs.is-toggle li.is-active a:hover{
    background-color:rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.7);
    color:#f5f5f5
}

@media screen and (max-width:768px){
}

.hero.is-dark .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-dark .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-dark .tabs a:hover{
    opacity:1
}
.hero.is-dark .tabs li.is-active a{
    color:#363636!important;
    opacity:1
}
.hero.is-dark .tabs.is-boxed a,.hero.is-dark .tabs.is-toggle a{
    color:#fff
}
.hero.is-dark .tabs.is-boxed a:hover,.hero.is-dark .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-dark .tabs.is-boxed li.is-active a,.hero.is-dark .tabs.is-boxed li.is-active a:hover,.hero.is-dark .tabs.is-toggle li.is-active a,.hero.is-dark .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#363636
}

@media screen and (max-width:768px){
}

.hero.is-primary .title{
    color:#F5B301
}

@media screen and (max-width:1023px){
}

.hero.is-primary .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-primary .tabs a:hover{
    opacity:1
}
.hero.is-primary .tabs li.is-active a{
    color:#2A2E34!important;
    opacity:1
}
.hero.is-primary .tabs.is-boxed a,.hero.is-primary .tabs.is-toggle a{
    color:#fff
}
.hero.is-primary .tabs.is-boxed a:hover,.hero.is-primary .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-primary .tabs.is-boxed li.is-active a,.hero.is-primary .tabs.is-boxed li.is-active a:hover,.hero.is-primary .tabs.is-toggle li.is-active a,.hero.is-primary .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#2A2E34
}

@media screen and (max-width:768px){
}

.hero.is-link .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-link .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-link .tabs a:hover{
    opacity:1
}
.hero.is-link .tabs li.is-active a{
    color:#2A2E34!important;
    opacity:1
}
.hero.is-link .tabs.is-boxed a,.hero.is-link .tabs.is-toggle a{
    color:#fff
}
.hero.is-link .tabs.is-boxed a:hover,.hero.is-link .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-link .tabs.is-boxed li.is-active a,.hero.is-link .tabs.is-boxed li.is-active a:hover,.hero.is-link .tabs.is-toggle li.is-active a,.hero.is-link .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#2A2E34
}

@media screen and (max-width:768px){
}

.hero.is-info .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-info .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-info .tabs a:hover{
    opacity:1
}
.hero.is-info .tabs li.is-active a{
    color:#3e8ed0!important;
    opacity:1
}
.hero.is-info .tabs.is-boxed a,.hero.is-info .tabs.is-toggle a{
    color:#fff
}
.hero.is-info .tabs.is-boxed a:hover,.hero.is-info .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-info .tabs.is-boxed li.is-active a,.hero.is-info .tabs.is-boxed li.is-active a:hover,.hero.is-info .tabs.is-toggle li.is-active a,.hero.is-info .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#3e8ed0
}

@media screen and (max-width:768px){
}

.hero.is-success .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-success .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-success .tabs a:hover{
    opacity:1
}
.hero.is-success .tabs li.is-active a{
    color:#48c78e!important;
    opacity:1
}
.hero.is-success .tabs.is-boxed a,.hero.is-success .tabs.is-toggle a{
    color:#fff
}
.hero.is-success .tabs.is-boxed a:hover,.hero.is-success .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-success .tabs.is-boxed li.is-active a,.hero.is-success .tabs.is-boxed li.is-active a:hover,.hero.is-success .tabs.is-toggle li.is-active a,.hero.is-success .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#48c78e
}

@media screen and (max-width:768px){
}

.hero.is-warning .title{
    color:rgba(0,0,0,.7)
}

@media screen and (max-width:1023px){
}

.hero.is-warning .tabs a{
    color:rgba(0,0,0,.7);
    opacity:.9
}
.hero.is-warning .tabs a:hover{
    opacity:1
}
.hero.is-warning .tabs li.is-active a{
    color:#ffe08a!important;
    opacity:1
}
.hero.is-warning .tabs.is-boxed a,.hero.is-warning .tabs.is-toggle a{
    color:rgba(0,0,0,.7)
}
.hero.is-warning .tabs.is-boxed a:hover,.hero.is-warning .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-warning .tabs.is-boxed li.is-active a,.hero.is-warning .tabs.is-boxed li.is-active a:hover,.hero.is-warning .tabs.is-toggle li.is-active a,.hero.is-warning .tabs.is-toggle li.is-active a:hover{
    background-color:rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.7);
    color:#ffe08a
}

@media screen and (max-width:768px){
}

.hero.is-danger .title{
    color:#fff
}

@media screen and (max-width:1023px){
}

.hero.is-danger .tabs a{
    color:#fff;
    opacity:.9
}
.hero.is-danger .tabs a:hover{
    opacity:1
}
.hero.is-danger .tabs li.is-active a{
    color:#f14668!important;
    opacity:1
}
.hero.is-danger .tabs.is-boxed a,.hero.is-danger .tabs.is-toggle a{
    color:#fff
}
.hero.is-danger .tabs.is-boxed a:hover,.hero.is-danger .tabs.is-toggle a:hover{
    background-color:rgba(10,10,10,.1)
}
.hero.is-danger .tabs.is-boxed li.is-active a,.hero.is-danger .tabs.is-boxed li.is-active a:hover,.hero.is-danger .tabs.is-toggle li.is-active a,.hero.is-danger .tabs.is-toggle li.is-active a:hover{
    background-color:#fff;
    border-color:#fff;
    color:#f14668
}

@media screen and (max-width:768px){
}

@media print,screen and (min-width:769px){
}

.hero.is-fullheight-with-navbar .hero-body>.container,.hero.is-fullheight .hero-body>.container,.hero.is-halfheight .hero-body>.container{
    flex-grow:1;
    flex-shrink:1
}

.hero-video video{
    left:50%;
    min-height:100%;
    min-width:100%;
    position:absolute;
    top:50%;
    transform:translate3d(-50%,-50%,0)
}

@media screen and (max-width:768px){
}

@media screen and (max-width:768px){
}
@media print,screen and (min-width:769px){
}

@media print,screen and (min-width:769px){
}
.section{
    padding:3rem 1.5rem
}
@media screen and (min-width:1024px){
    .section{
        padding:3rem
    }

    .section.is-large{
        padding:18rem 6rem
    }
}

.section{
    padding:2.15rem 1.5rem
}
